<!DOCTYPE html>
<html>
<head>
  
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>

  <title>Lingua Finlandesa</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="description" content="Sobre lingua finlandesa">
  <meta name="author" content="Henrique Oliveira" >
  <%= stylesheet_link_tag 'handheld', :media => "handheld" %>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'dd_belatedpng.js' %>
  <%= javascript_include_tag 'jquery-1.5.1.min.js' %>
  <%= javascript_include_tag 'modernizr-1.7.min.js' %>
  <%= javascript_include_tag 'script.js' %>
  <%= csrf_meta_tag %>
  
</head>
<body>
	<div id='container'>
    	<header>
				<hgroup>
					<h1>Lingua Finlandesa</h1>
				</hgroup>
    	</header>
		<nav>
			<ul>
				<li><a href="#">Home1</a></li>
				<li><a href="contato">Home2</a></li>
				<li><a href="abc">Home3</a></li>
				<li><a href="pronuncia">Home4</a></li>
			</ul>
		</nav>
    	
		<section>

    	<%= yield %>

		</section>

    	<footer>
			<p>Copyleft © 2008 All Rights</p>
    	</footer>
    </div>
  <%- # Grab Google CDN's jQuery. fall back to local if necessary -%>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js' %>
  <%= javascript_tag %{!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery-1.5.2.min.js"%3E%3C/script%3E'))} %>

  <%= javascript_include_tag 'plugins' %>
  <%= javascript_include_tag :defaults %>

  <%- # asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet -%>
  <%- # change the UA-XXXXX-X to be your site's ID -%>
  <%- if Rails.env.production? -%>
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  <%- end -%>

</body>
</html>
